@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@import url(http://fonts.googleapis.com/css?family=Ledger);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=League+Script);
@import url(http://fonts.googleapis.com/css?family=Pompiere);


/**
 * Default
 */
html
{
    font-size: 62.5%;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    color: #292929;
    background: #000;
}

h1, h2, h3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h4
{
    color: #d4c8a9;
    font-family: 'Libre Baskerville', sans-serif;
}

h6
{
    color: #d4c8a9;
    font-family: 'Libre Baskerville', sans-serif;
}

a
{
    color: #d4c8a9;
}

a:hover
{
    color: #d4c8a9;
    text-decoration: none;
}

p, li, span
{
    line-height: 20px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.feature li
{
    font-size: 11px;
    background: url(../img/icons/list_check.png) no-repeat 0% 50%;
    padding: 0 0 0 18px;
}

#book-now {
    font-size: 18px;
    font-family: 'Ledger', sans-serif;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#logo
{
    color: #fff;
    color: #d4c8a9;
    line-height: 60px;
    font-weight: 300;
    font-size: 26px;
    font-family: 'Libre Baskerville', sans-serif;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#footer-logo
{
    color: #fff;
    color: #d4c8a9;
    line-height: 60px;
    font-weight: 300;
    font-size: 19px;
    font-family: 'Ledger', sans-serif;
}

/**
 * Header
 */
#header
{
    /*position: fixed;*/
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    z-index: 1;
}

#header .navbar
{
    margin-bottom: -40px;
    background-color: #888;
    background-color: rgba(0, 0, 0, 0.8);
    filter: none;
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#header .navbar:hover
{
    background-color: #888;
    background-color: rgba(0, 0, 0, 0.8);
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
}

#header .navbar-inner
{
    background: none;
    border: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        -o-border-radius: none;
    border-radius: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    box-shadow: none;
    background: none;
    filter: none;
}

#header .navbar .brand
{
    text-shadow: none;
    line-height: 80px;
    padding: 0px 20px 10px;
}


#header .navbar .nav > li
{
    line-height: normal;
}

#header .navbar .nav > li > a
{
    color: #fff;
    text-shadow: none;
    padding: 15px 0 9px 0;
    margin: 20px 20px 26px 20px;
    font-size: 15px;
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 400;
    border-bottom: solid transparent 2px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active
{
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
    color: #d4c8a9;
    border-bottom: solid #d4c8a9 2px;
    background: none;
    filter: none;
}



#footer .footer-description {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

#footer .facebook {
    padding-right: 20px;
}

#footer .email {
    padding-right: 20px;
}


/**
 * Intro
 */
#intro h2
{
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-size: 3rem;
    margin: 0 0 10px 0;
    font-family: 'Ledger', sans-serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    line-height: 90px;
}

#intro h3
{
    color: #d4c8a9;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Sanchez', serif;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    line-height: normal;
}

/**
 * Default page
 */
.header
{
    background-color: #888;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h2
{
    color: whitesmoke;
    font-weight: 300;
    text-align: center;
    color: #d4c8a9;
    font-size: 50px;
    font-size: 5rem;
    margin: 15px 0;
    font-family: 'Libre Baskerville', sans-serif;
}

.header h3
{
    color: #d4c8a9;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Sanchez', serif;
}

.content
{
    background: whitesmoke;
    padding: 90px;
    text-align: justify;
    text-justify: inter-word;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomright: 10px;
        -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.footer-content
{
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.pull-center
{
    text-align: center;
}

.line
{
    margin: 80px;
}

.quote
{
    font-family: 'Pompiere', cursive;
    text-align: center;
    font-size: 1.5em;
}

.customer
{
    text-align: center;
    font-size: 10px;
    font-size: 1em;
    line-height: 30px;
}

.book {
    background-color: #d4c8a9;
}

#customer-quotes {
    margin-top: 20px;
}

#video {
    margin-top: 20px;
}


.home-page-image-slider {
    padding: 20px;
}

.logo-img {
    background-image: url('../img/logo.png');
}

.flexslider-wrapper {
    width: 80%;
}

.flex-control-paging li a.flex-active {
    background: #d4c8a9;
}

input.check_availability {
    background-color: #d4c8a9;
}

/**
 * Features
 */
.feature
{
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 64px;
}

.feature i
{
    color: #d4c8a9;
    margin-right: 7px;
}

/**
 * Box
 */
.box
{
    width: 100%;
    min-height: 100%;
    margin-top: 60px;
}

/**
 * Portfolio
 */
.portfolio .item a
{
    width: 100%;
    height: 240px;
    background-size: cover;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.portfolio .item h3
{
    line-height: normal;
    margin: 20px 10px 5px 10px;
    font-size: 24px;
    font-size: 2.4rem;
}

.portfolio .item p
{
    line-height: normal;
    margin: 5px 10px 40px 10px;
    font-size: 16px;
    font-size: 1.6rem;
}

.accordion .accordion-heading {
    color: #d4c8a9;
    font-family: 'Libre Baskerville', sans-serif;
}

/**
 * Lightbox
 */

#lightbox
{
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 100;
}

#lightbox img
{
    max-width: 940px;
    margin-top: 40px;
}

/**
 * Google Maps
 */
#map_canvas
{
    height: 290px;
}

/**
 * Back to top
 */
#back-top
{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 20px;
    color: #fff;
    background: #333;
    background: rgba(51, 51, 51, 0.75);
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
}

#back-top:hover
{
    text-decoration: none;
    background: #d4c8a9;
    background: rgba(58, 192, 254, 0.75);
        -moz-transition: all 600ms;
        -webkit-transition: all 600ms;
        -o-transition: all 600ms;
    transition: all 600ms;
}

/**
 * CSS Media Queries
 */

/* Large desktop */
@media (min-width: 1200px)
{
}

/* Normal desktop */
@media (min-width: 980px) and (max-width: 1199px)
{
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
{
    body
    {
        padding-left: 0;
        padding-right: 0;
    }

    .container
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header .navbar .nav.pull-right
    {
        margin-right: 15px;
    }

    #header .navbar .btn-navbar
    {
        margin-top: 33px;
        text-shadow: none;
        background: none;
        filter: none;
        *background-color: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    #header .navbar .btn-navbar .icon-bar
    {
        background: #d4c8a9;
            -webkit-border-radius: none;
            -moz-border-radius: none;
        border-radius: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        width: 30px;
        height: 4px;
    }

    #header .navbar .nav > li
    {
        line-height: normal;
        text-align: right;
    }
    
    #header .navbar .nav > li > a
    {
        color: #fff;
        text-shadow: none;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 23px;
        font-size: 2.3rem;
        font-weight: 300;
        border: none;
    }
    
    #header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active
    {
        color: #d4c8a9;
        border: none;
        background: none;
        filter: none;
    }

    .home-page-image-slider {
        padding: 50px;
    }

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
    body
    {
        padding-left: 0;
        padding-right: 0;
    }

    .container
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #header .navbar .nav.pull-right
    {
        margin-right: 15px;
    }

    #header .navbar .btn-navbar
    {
        margin-top: 33px;
        text-shadow: none;
        background: none;
        filter: none;
        *background-color: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    #header .navbar .btn-navbar .icon-bar
    {
        background: #d4c8a9;
            -webkit-border-radius: none;
            -moz-border-radius: none;
        border-radius: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        width: 30px;
        height: 4px;
    }

    #header .navbar .nav > li
    {
        line-height: normal;
        text-align: right;
    }
    
    #header .navbar .nav > li > a
    {
        color: #fff;
        text-shadow: none;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 23px;
        font-size: 2.3rem;
        font-weight: 300;
        border: none;
    }
    
    #header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active
    {
        color: #d4c8a9;
        border: none;
        background: none;
        filter: none;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px)
{
    body
    {
        padding-left: 0;
        padding-right: 0;
    }

    .container
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    #header .navbar .nav.pull-right
    {
        margin-right: 10px;
    }

    #header .navbar-inner
    {
        padding-left: 0;
        padding-right: 0;
    }

    #header .brand
    {
        width: 160px;
    }
    
    #header .navbar .btn-navbar
    {
        margin-top: 33px;
        text-shadow: none;
        background: none;
        filter: none;
        *background-color: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        margin-right: 0;
    }

    #header .navbar .btn-navbar .icon-bar
    {
        background: #d4c8a9;
            -webkit-border-radius: none;
            -moz-border-radius: none;
        border-radius: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
        box-shadow: none;
        width: 30px;
        height: 4px;
    }

    #header .navbar .nav > li
    {
        line-height: normal;
        text-align: right;
    }
    
    #header .navbar .nav > li > a
    {
        color: #fff;
        text-shadow: none;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 23px;
        font-size: 2.3rem;
        font-weight: 300;
        border: none;
    }
    
    #header .navbar .nav > li > a:hover, #header .navbar .nav > li > a.active
    {
        color: #d4c8a9;
        border: none;
        background: none;
        filter: none;
    }

    #intro h2
    {
        font-size: 40px;
        font-size: 4rem;
        margin: 0 0 10px 0;
        line-height: 40px;
    }

    #intro h3
    {
        font-size: 20px;
        font-size: 2rem;
        line-height: normal;
    }

    .header
    {
        padding: 15px 0;
    }

    .header h2
    {
        font-size: 30px;
        font-size: 3rem;
        line-height: 30px;
        margin: 10px 0 0 0;
    }

    .header h3
    {
        font-size: 16px;
        font-size: 1.6rem;
        margin: 10px 0 0 0;
    }

    .content
    {
        padding: 20px;
    }

    #map_canvas
    {
        margin-bottom: 20px;
    }

    #back-top
    {
        bottom: 10px;
        right: 10px;
        padding: 5px 10px;
    }

}