<div class="container">
    <div class="row-fluid footer-description">
        <div class="span12 footer-content">
            <div class="span5">Ripley Court Hotel, 37 Talbot Street, Dublin (Ireland)</div>
            <div class="span1"/>
            <div class="span6 email-and-facebook">Tel. +353 1 836 5892 <span class="email">Email: reservations@ripleycourt.com</span><span class="facebook-logo"><a href="https://www.facebook.com/RipleyCourt"><img height='32px' width='32px' src="img/facebook-logo-transparent.png" alt=""></a></span></div>
        </div>
    </div>
</div>
